<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> | EconoCord</title>
<link rel='icon' href="/static/img/econocord.png">
<link rel="stylesheet" href="/static/css/styles.css">