<html lang="en">
<head>
  <%- include('includes/head', { title: "Info" }) %>
</head>
<body>
  <h1>Coming Soon!</h1>
  <br>
  <p class="description">This page will be holding all the info for EconoCord once finished!</p>
</body>
</html>